<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Levinci::top_level" title="Levinci" module="Levinci_Job" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Levinci_Job::levinci_job_job" title="Job" module="Levinci_Job" sortOrder="9999" resource="Magento_Backend::content" parent="Levinci::top_level" action="levinci_job/job/index"/>
	</menu>
</config>
