<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="levinci_job" id="levinci_job">
			<module before="Magento_Backend" name="Levinci_Job"/>
		</route>
	</router>
</config>
